.notic{
    width: 400px;
    height: 200px;
    color: white;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 270px;
}
.noti{
    width: 100px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: black;
    border-radius: 10px;
}
.noti:hover{
    color: red;
}
.navbar{
}
.navbar-brand{
    font-size: 30px;
    color: black;
    
}
.navbar-brand:hover{
    color: rgb(10, 183, 137);
    scale: 1.1;
}
.py-4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.lesson{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0px 20px;
    &:hover{
        color: rgb(10, 183, 137);
        scale: 1.1;
    }
}

.daily{
    display: flex;
    justify-content: center;
    background-color: rgb(10, 183, 137);
    color: white;
    padding: 20px;
    text-align: center; 
    height: 400px;
    align-items: center;
    border-radius: 20px;
    width: 50%;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.146);
}
.tuvung{
    width: 66%;


}
.Lessons{
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.Lessons h1{
    width: 100%;
    color: black;
}
.Lessons h2{
    color: black;
    width: 100%;
}
.lessons-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    justify-content: center;
    gap: 20px;
}
.lesson-card{
    padding: 20px;
    background-color: #ffffff;
    color: white;
    border-radius: 10px;
    width: 100%;
    text-decoration: none;
    height: 200px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.146);
    transition: 0.3s;
    &:hover{
        transition: 0.3s;
        background-color: #c3fdfd;
        scale: 1.1;
    }
}
.lesson-card h1{
    font-weight: bold;
    color: rgb(10, 183, 137);
}

.lesson-cardx{
    width: 25%;
    height: 200px;
    background-color: #6bcbf1;
    color: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    text-decoration: none;
}
.quizz{
    justify-content: center;

}
.anss{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 70%;
    justify-content: center;
}
.ans{
    width: 40%;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.ans:hover {
    opacity: 0.8;
}
.title{
    width: 100%;
    text-align: center;
}
.card-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aquamarine;
}
.lessons-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.less-card{
    width: 25%;
    height: 200px;
    background-color: rgb(10, 183, 137);
    color: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    text-decoration: none;
}
.less-card:hover{
    background-color: rgb(10, 173, 129);
    scale: 1.1;
}
.lessontitle{
    font-size: 35px;
}
.lessond{
    width: 100%;
    font-size: 20px;

}
.edit-btn{

}
.delete-form{

}
.delete-btn{

}
.pagination-links {
    margin-top: 20px;
    text-align: center;
}
.flex{
    width: 267px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text-sm{
    text-align: center;
}
svg{
    width: 20px;
    height: 20px;
}
.vocab{
    font-size: 20px;
}
.add_vocab{

}
.input-group {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 50%;
    top: 62px;
    left: 33%;
    border: 2px solid black;
    border-radius: 9px;
}
.account{
    font-size: 20px;
}
input, button, select, optgroup, textarea {
    border-radius: 6px;
}
.dropdown-item:hover{
    background-color: rgb(10, 183, 137);
}
/* video -quizz*/
body {
    font-family: Arial, sans-serif;
}
.lesson-quizz {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.video-container {
    margin-bottom: 20px;
}
.quiz-container {
    position: relative;
    width: 60%;
    margin: auto;
    max-width: 1000px;
}
.slides {
    display: none;
}
.slides.active {
    display: block;
}
.question {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.answers {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.answer {
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(136, 205, 227);
    width: 48%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    height: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    &:hover {
        background-color: rgb(10, 183, 137);
        color: white;
        scale: 1.1;
        transition: 0.3s;
    }
}
.answer.correct {
    background-color: rgb(10, 183, 137);
}
.answer.incorrect {
    background-color: rgb(235, 23, 23);
}
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.nav-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.nav-button[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
}
.results {
    display: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    width: 500px;
    background-color: #4bc1e0;
    position: absolute;
    border-radius: 20px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;  
}
.question-number {
    font-size: 24px;
    margin-bottom: 10px;
    color:black;
}
#correct-count, #total-questions {
    margin: 0 4px;
}
.nav-button{
    &:hover{
        background-color: rgb(10, 183, 137);
        scale: 1.1;
    }
}
#result-message{
    font-size: 24px;
}

/* text box  */

.set{
    width: 500px;
    font-size: 20px;
    border: 2px solid black;
}
.form-label{
    font-size: 20px;
    font-weight: bold;
}
.hover{
    &:hover{
        background-color: rgb(10, 183, 137);
        color: white;
        scale: 1.1;
    }
}