.card-header{
    text-align: center;
    font-size: 25px;

}
.card-body{
    font-size: 20px;
}
.form-control {
    line-height: 2;
    font-size: 20px;
}
.row label{
    text-align: center!important;
}